#Sequoia37 {
  color: forestgreen;
}

#Mitchell {
  color:red;
  font-family: 'Courier New', Courier, monospace;
}

#Molly {
  color:peru;
  font-family: 'Courier New';
}

#Taylor {
  color:goldenrod;
}
